<input id="chapterpicture-{{index}}-number" name="chapterpicture_set-{{index}}-number" type="number">
<input id="chapterpicture-{{index}}-picture" name="chapterpicture_set-{{index}}-picture" type="file">
