{% extends 'base.html' %}
{% load pipeline %}
{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        {{ pictures.management_form }}
        {% for form_detail in pictures %}
        <div>
            <input name="filesToUpload[]" id="filesToUpload" type="file" multiple="" />
        </div>
        <div>
            {{ form_detail }}
        </div>
        {% endfor %}
        <input type="submit" value="Submit" />
    </form>
{% endblock content %}
{% block javascript %}
    {% javascript 'app.templates' %}
<script>
    $(document).ready(function(){

    });
</script>
{% endblock javascript %}